/* Resetando margens e preenchimentos */
* {
 margin: 5px;
   padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo geral */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff9f2;
    color: #3f3838;
    background-size: cover;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  /* Container centralizado */
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Cabeçalho */
  header {
    background-color: rgb(223, 193, 154);
    color: rgb(0, 0, 0);
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
  }
   h4 {
     font-family: Arial, Helvetica, sans-serif;
     text-align: justify;
     color: #918888;
}
  
header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Seções */
  .section {
    padding: 50px 0;
    background-color: #000000;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 1%rem;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    color: #555;
  }
  
  ul {
    list-style-type: none;
    text-align: center;
  }
  
  ul li {
    font-size: 1.1rem;
    color: #666;
    margin: 10px 0;
  }
  
  /* Formulário de Contato */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  form label {
    font-size: 1rem;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  form button {
    padding: 12px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #e0356d;
  }
  
  /* Rodapé */
  footer {
    background-color: #ff4081;
    color: rgb(186, 142, 199);
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 1rem;
  }
  
.imagem1 {
  text-align: left;
display: flex;
align-items: center;
justify-content: space-around;
}